*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo_item {
  display: flex;
  flex-direction: column;
  margin: 20px 170px;
  padding: 10px;
  outline: 2px solid black;
  box-shadow: 5px 5px 5px black;
}

.input_elem {
  display: flex;
  justify-content: center;
  margin: 20px 400px;
}

.input_elem > input {
  width: 100%;
  box-shadow: 5px 5px 5px black;
}